# ---------------------------
# Python
# ---------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ---------------------------
# Virtual Environment
# ---------------------------
venv/
.env
.env*

# Keep example env file
!.env.example

# ---------------------------
# Django
# ---------------------------
db.sqlite3
*.sqlite3
staticfiles/
media/

# ---------------------------
# Node / React
# ---------------------------
node_modules/
dist/

# ---------------------------
# IDE
# ---------------------------
.vscode/
.idea/

# ---------------------------
# Logs
# ---------------------------
*.log
pw.html

# ---------------------------
# OS
# ---------------------------
.DS_Store