Django==5.2.7
channels==4.3.1
channels-redis==4.3.0
daphne==4.2.1

djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1

django-crispy-forms==2.6
crispy-bootstrap5==2026.3

django-environ==0.13.0
django-extensions==4.1
django-phonenumber-field==8.3.0
phonenumbers==9.0.17

redis==7.0.0
stripe==15.0.0
qrcode==8.2
pillow==12.0.0
unfold==1.2.4