{% extends "core/dashboard_base.html" %}

{% block content %}
<div class="card" style="max-width:500px; margin:40px auto;">

    <h2>Delete Category</h2>

    <p>Are you sure you want to delete 
        <strong>{{ object.name }}</strong>?
    </p>

    <form method="POST">
        {% csrf_token %}
        <div style="margin-top:20px; display:flex; gap:10px;">
            <a href="{% url 'core:category_list' %}" class="btn btn-outline">
                Cancel
            </a>
            <button type="submit" class="btn btn-danger">
                Yes, Delete
            </button>
        </div>
    </form>

</div>
{% endblock %}